*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*nav section*/
.navbar{
    height: 80px;
    width: 100%;
    background-color: black;
    display: flex;
    position: fixed;
}
/*logo*/
.nav-logo-image{
    background-image: url("logo.png");
    background-size: cover;
    height: 80px;
    width: 100px;
}
/*nav content*/
.nav-content{
    margin-left: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-content ul{
    display: flex;
    list-style-type: none;
    gap: 2rem;
    font-size: 1.2rem;
}

.nav-content a{
    text-decoration: none;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.nav-content a:hover{
    text-decoration: underline;
}

.donate a,.volunteer a{
    text-decoration: none;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/*nav buttons*/
.nav-btns{
    margin-left: 28%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.donate{
    background-color: blue;
    color: white;
    border: none;
    font-size: 1.1rem;
    height: 50px;
    width: 110px;
    font-weight: 800;
    letter-spacing: 1px;
}

.volunteer{
    background-color: red;
    color: white;
    border: none;
    font-size: 1.1rem;
    height: 50px;
    width: 140px;
    font-weight: 800;
    letter-spacing: 1px;
    margin-left: 1rem;
}
/*banner section*/
.banner{
    display: flex;
}
/*banner image*/
.banner-image{
    background-image: url("51607251_2471132516293513_5725308709714788352_o.jpg");
    background-size: cover;
    height: 550px;
    width: 100%;
    margin-top: 3rem;
}

.banner-image h2{
    text-align: center;
    font-size: 4rem;
    font-family: cursive;
    color: rgb(245, 10, 10);
    margin-top: 13rem;
    text-shadow: 3px 3px 7px black;
}

.banner-box1{
    display: flex;
    margin-top: 4rem;
    margin-left: 11rem;
}

.banner-box1 img{
    height: 600px;
    width: 450px;
    margin-right: 2rem;
}


.heart-icon img{
    height: 25px;
    width: 25px;
    margin-left: 1rem;
    margin-top: 1rem;
}

.box1-box{
    height: 600px;
    width: 450px;
    background-color: white;
    box-shadow: 3px 3px 17px grey;
}

.box1-box h2{
    font-size: 2.2rem;
    margin-left: 1rem;
    margin-top: 0.5rem;
    font-family: 'Times New Roman', Times, serif;
}

.box1-box h3{
    font-size: 2.2rem;
    margin-left: 1rem;
    margin-top: 0.2rem;
    font-family: 'Times New Roman', Times, serif;
}

.box1-box P{
        margin-left: 1rem;
        margin-top: 0.5rem;
        margin-right: 1rem;
        color: grey;
        font-size: 1.2rem;
        line-height: 2rem;
}
/*programmes section*/
.programmes{
    margin-top: 5rem;
    height: 400px;
    width: 100%;
    background-color: rgb(244, 243, 243);
}

.pro-image1{
    height: 25px;
    width: 25px;
    margin-left: 49%;
    margin-top: 1rem;
}

.programmes h2{
    font-size: 3rem;
    text-align: center;
    font-weight: 900;
    padding-top: 1rem;
    font-family: 'Times New Roman', Times, serif;
}

.pro-box{
    display: flex;
    margin-left: 13rem;
    gap: 5rem;
}
/*education and health section*/
.education, .health{
    height: 200px;
    width: 400px;
    margin-top: 3rem;
    display: flex;
}

.pro-image img{
    height: 80px;
    width: 90px;
    margin-right: 1rem;
    margin-top: 0.5rem;
    margin-left: 1rem;
}
/*education and health content*/
.edu-content h3 a{
    color: rgb(240, 182, 75);
    font-size: 2rem;
    margin-top: 2rem;
    font-family: cursive;
    letter-spacing: 1px;
    text-decoration: underline;
    font-weight: 900;
}

.edu-content h3 a:hover{
    text-shadow: 2px 2px 3px rgb(240, 182, 75);
}

.heal-content h3 a{
    color: rgb(207, 141, 232);
    font-size: 2rem;
    margin-top: 2rem;
    font-family: cursive;
    letter-spacing: 1px;
    text-decoration: underline;
    font-weight: 900;
}

.heal-content h3 a:hover{
    text-shadow: 2px 2px 3px rgb(207,141,232);
}

.edu-content p,.heal-content p{
    line-height: 1.7rem;
    font-size: 1.1rem;
}
/*vol world section*/
.vol-world{
    margin-top: 5rem;
}

.vol-image1 img{
    height: 25px;
    width: 25px;
    margin-left: 49%;
}

.vol-world h2{
    font-size: 3rem;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
}

.vol-world p{
    text-align: center;
    margin-top: 1rem;
    color: rgb(123, 63, 123);
}

.vol-image2 img{
    margin-left: 11%;
    margin-top: 2rem;
    height: 600px;
    width: 1000px;
}
/*donors or sponsors section*/
.donors{
    margin-top: 3rem;
    margin-bottom: 2rem;
}
/*motion and video section*/
.motion{
    margin-top: 5rem;
    height: 450px;
    width: 100%;
    background-color: rgb(236, 250, 245);
}

.donor-image img,.motion-image{
    margin-top: 1rem;
    margin-left: 49%;
    height: 25px;
    width: 25px;
}

.donors h2,.motion h2{
    margin-top: 1rem;
    font-weight: 900;
    font-size: 3rem;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.donor-image1{
    display: flex;
    margin-left: 7rem;
    margin-top: 2rem;
}

.donor-image1 img{
    height: 110px;
    width: 110px;
    margin-right: 5rem;
}

.motion-box{
    margin-top: 2rem;
    display: flex;
    height: 230px;
    width: 230px;
    margin-left: 6%;
}

.motion-box video{
    border-radius: 10px;
    margin-right: 2rem;
}
/*foot section*/
.foot-box{
    background-color: #181717;
    height: 300px;
    width: 100%;
    display: flex;
    margin-top: 3rem;
}
/*logo section*/
.logo{
    margin-top: 3rem;
    margin-left: 8%;
}
.foot-logo{
    background-image: url("floating-logo-1.png");
    background-repeat: no-repeat;
    height: 80px;
    width: 140px;
}

.foot-first-logo p{
    color: white;
    width: 200px;
    margin-top: 0.4px;
    font-size: 0.8rem;
    margin-left: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.foot-icon img{
    height: 23px;
    width: 23px;
    margin-top: 1rem;
    margin-left: 1rem;
    opacity: 0.6;
}

.foot-icon img:hover{
    opacity: 1;
}
/*contact section*/
.contact{
    color: white;
    margin-left: 18%;
}

.contact h3{
    margin-top: 2.5rem;
    font-weight: 400;
}

.contact address{
    line-height: 1.4rem;
    margin-top: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.contact ul{
    margin-top: 1.4rem;
    list-style-type: none;
    line-height:1.4rem ;
}

.contact span{
    font-weight: 900;
    margin-right: 4px;
}
/*quiclinks section*/
.quicklink{
    margin-left: 15%;
}

.quicklink h3{
    margin-top: 3rem;
    color: white;
    font-weight: 400;
}

.quicklink a{
    text-decoration: none;
    color: white;
    font-size: 0.8;
}

.quicklink ul{
    list-style-type: none;
    line-height: 1.4rem;
    margin-top: 2rem;
}






